<form class="pt-4" role="form" (ngSubmit)="login()">
    <legend>Welcome to SV Tickets!</legend>

    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" name="email" [(ngModel)]="email" placeholder="Email">
        <label for="password">Password:</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="password" placeholder="Password">
    </div>
    <p class="text-danger">{{errorMsg}}</p>
    <button type="submit" class="btn btn-primary">Login</button>
    <a class="btn btn-secondary" [routerLink]="['/auth/register']" [routerLinkActive]="['active']" role="button">Create account</a>

    <button aeGoogleLogin type="button" class="btn btn-outline-danger" (loginOk)="loggedGoogle($event)">
        <i class="fa fa-google" aria-hidden="true"></i>
        Google
    </button>
    <button aeFbLogin type="button" class="btn btn-outline-primary" (loginOk)="loggedFacebook($event)" [scopes]="['email', 'public_profile']">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        Facebook
    </button>
</form>
