<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Angular Events</a>
  <ul class="navbar-nav mr-auto" *ngIf="logged">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/events']" [routerLinkActive]="['active']">Events</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/events/add']" [routerLinkActive]="['active']">New event</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/events/mine']" [routerLinkActive]="['active']">My events</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/events/attend']" [routerLinkActive]="['active']">My assist</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/profile']" [routerLinkActive]="['active']">My profile</a>
    </li>
  </ul>
  <ul class="navbar-nav" *ngIf="logged">
    <li class="nav-item">
      <a class="nav-link" (click)="logout()">Logout</a>
    </li>
  </ul>
</nav>
