<div class="container">
  <form (ngSubmit)="addUser()" #addForm="ngForm">
    <legend>Create an account</legend>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" name="name" [(ngModel)]="newUser.name" required minlength="1" placeholder="Enter name"
        #name="ngModel" [ngClass]="{'is-invalid': name.invalid && name.touched, 'is-valid': name.valid && name.touched}">
      <div class="invalid-feedback">Name is required and at least 1 character.</div>
    </div>

    <div class="form-group">
      <label for="name">Email</label>
      <input type="email" class="form-control" name="email" [(ngModel)]="newUser.email" required
      placeholder="Enter your email"
        #email="ngModel" [ngClass]="{'is-invalid': email.invalid && email.touched, 'is-valid': email.valid && email.touched}">
      <div class="invalid-feedback">This field can not be blank.</div>
    </div>

    <div class="form-group">
      <label for="name">Password</label>
      <input type="password" class="form-control" name="password" [(ngModel)]="newUser.password" required placeholder="Enter your password">
      <div class="invalid-feedback">This field can not be blank.</div>
    </div>

    <div class="form-group">
      <label for="image">Avatar</label>
      <input type="file" class="form-control" ngModel name="image" (change)="changeImage(imageInput)" #imageInput>
      <div class="invalid-feedback">An image is required.</div>
    </div>
    <img [src]="newUser.avatar" alt="" class="img-thumbnail">

    <div class="row">
      <div class="form-group col-xs-12 col-sm-6">
        <label for="latitude">Latitude:</label>
        <input type="text" class="form-control" id="lat" name="lat" [(ngModel)]="newUser.lat" placeholder="Geolocalizing..." readonly>
      </div>
      <div class="form-group col-xs-12 col-sm-6">
        <label for="longitude">Longitude:</label>
        <input type="text" class="form-control" id="lng" name="lng" [(ngModel)]="newUser.lng" placeholder="Geolocalizing..." readonly>
      </div>
    </div>
    <p>
      <button type="submit" class="btn btn-primary" [disabled]="addForm.invalid || imageInput.files.length === 0">Create Account</button>
      <a class="btn btn-secondary" [routerLink]="['/auth/login']" [routerLinkActive]="['active']" role="button">Go Back</a>
    </p>
    <p class="text-danger" [innerText]="errors"></p>
    <p>{{addForm.value | json}}</p>
    </form>

</div>
