<nav class="navbar navbar-light bg-light justify-content-between mt-3">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" (click)="orderDate()">Order by date</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="orderPrice()">Order by price</a>
      </li>
    </ul>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="text" [(ngModel)]="search" name="search" placeholder="Search" aria-label="Search">
    </form>
  </nav>

<div class="row">
  <ae-event-item class="col-6 mt-4"
    *ngFor="let event of ArrayEvents | eventFilter:search, index as i"
    [event]="event" (deleted)="removeEvent(i)"></ae-event-item>
</div>
