<style>
    #map {
        width: 100%;
        height: 300px;
    }
</style>

    <div class="container">
        <div id="profile">
            <div class="row mt-4">
                <div class="col-4">
                    <img class="w-100" id="avatar" src="{{user.avatar}}" alt="">
                </div>
                <div class="col-8">
                    <h4>{{user.name}}</h4>
                    <h4>
                        <small class="text-muted">{{user.email}}</small>
                    </h4>
                    <p>
                        <button *ngIf="user.mine" class="btn btn-outline-primary float-right" [routerLink]="['/profile/edit', user.id]" [routerLinkActive]="['active']">Edit</button>
                    </p>
                </div>
            </div>
        </div>
        <div class="mt-4 mb-4" id="map">
            <p class="border border-primary text-center">My Position</p>
            <agm-map style="height: 50vh; width: 100%;" [zoom]="zoom" [latitude]="user.lat" [longitude]="user.lng">
                <agm-marker [latitude]="user.lat" [longitude]="user.lng">
                    <agm-info-window>You are here!!</agm-info-window>
                </agm-marker>
            </agm-map>
        </div>
    </div>

