<div class="container">
    <form (ngSubmit)="changeUser()" id="form-profile" class="mt-4" method="POST" role="form">
        <legend class="text-center">Change profile</legend>

        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" name="nameUser" id="name" placeholder="Name"
            [(ngModel)]="user.name">
            <label for="email">Email:</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Email"
            [(ngModel)]="user.email">
        </div>
        <button type="submit" class="btn btn-primary" (click)="confirmation()">Change Name & Email</button>

    </form>
    <form (ngSubmit)="changeAvatar()" id="form-avatar" class="mt-4" method="POST" role="form">
        <legend>change avatar</legend>

        <div class="form-group">
            <input type="file" class="form-control mb-3" id="image" name="image" (change)="changeImage(imageInput)" #imageInput>
            <div class="col img-thumbnail" *ngIf="!imagen">
                <img id="avatar" [src]="user.avatar" alt="">
            </div>
        </div>
        <button type="submit" class="btn btn-primary" (click)="confirmation()">change Avatar</button>
    </form>

    <form (ngSubmit)="changePassword()" id="form-password" class="mt-4" method="POST" role="form">
        <legend>change password</legend>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Password" [(ngModel)]="user.password">
        </div>
        <button type="submit" class="btn btn-primary" (click)="confirmation()">Change password</button>
    </form>
</div>
