<h1 *ngIf="edit">Edit the event</h1>
<h1 *ngIf="!edit">Add the event</h1>

<form class="mt-4" (ngSubmit)="addEvent()" #addForm="ngForm">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="title" [(ngModel)]="newEvent.title" required minlength="5" placeholder="Enter name"
            #name="ngModel" [ngClass]="{'is-invalid': name.invalid && name.touched, 'is-valid': name.valid && name.touched}">
        <div class="invalid-feedback">Name is required and at least 5 characters.</div>
    </div>
    <div class="form-group">
        <label for="date">Date</label>
        <input type="date" class="form-control" [(ngModel)]="newEvent.date" name="date" #date="ngModel" required [aeMinDate]="today"
            [ngClass]="{'is-invalid': date.invalid && date.touched, 'is-valid': date.valid && date.touched}">
        <div class="invalid-feedback">Date is required and cannot be earlier than today.</div>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" [(ngModel)]="newEvent.description" name="description" rows="3" #desc="ngModel" required [ngClass]="{'is-invalid': desc.invalid && desc.touched, 'is-valid': desc.valid && desc.touched}"></textarea>
        <div class="invalid-feedback">Description is required.</div>
    </div>
    <div class="form-group">
        <label for="price">Price (in €)</label>
        <input type="number" class="form-control" [(ngModel)]="newEvent.price" name="price" min="0.00" max="10000.00" step="0.01"
            #price="ngModel" required [ngClass]="{'is-invalid': price.invalid && price.touched, 'is-valid': price.valid && price.touched}"
        />
        <div class="invalid-feedback">You must insert price in 0.00 format.</div>
    </div>
    <div class="form-group">
        <label for="image">Image</label>
        <input type="file" class="form-control" ngModel name="image" (change)="changeImage(imageInput)" #image="ngModel" #imageInput
            [ngClass]="{'is-invalid': imageInput.files.length === 0 && image.touched,
                  'is-valid': imageInput.files.length > 0 && image.touched}">
        <div class="invalid-feedback">An image is required.</div>
    </div>
    <img [src]="newEvent.image" alt="" class="img-thumbnail">

    <div class="card mt-4 mt-5 mb-2">
        <div class="card-header">Address</div>
        <div class="card-body p-0">
            <div id="map">
                <div class="form-group">
                    <input type="text" aeGmapsAutocomplete (placeChanged)="changePosition($event)" class="form-control" name="address" [(ngModel)]="newEvent.address">
                </div>
                <agm-map style="height: 50vh; width: 100%;" [zoom]="zoom" [latitude]="newEvent.lat" [longitude]="newEvent.lng">
                    <agm-marker [latitude]="newEvent.lat" [longitude]="newEvent.lng"></agm-marker>
                    <input type="hidden" [(ngModel)]="newEvent.lat" name="lat" value="{{newEvent.lat}}">
                    <input type="hidden" [(ngModel)]="newEvent.lng" name="lng" value="{{newEvent.lng}}">
                </agm-map>
            </div>
        </div>
    </div>
    <p>
        <button type="submit" class="btn btn-primary" [disabled]="addForm.invalid || imageInput.files.length === 0">{{!!edit ? "Update" : "Create"}}</button>
    </p>
    <p class="text-danger" [innerText]="error"></p>
    <p>{{addForm.value | json}}</p>
</form>
