<div class="card">
    <a [routerLink]="['/events', event.id]">
        <img class="card-img-top" [src]="event.image">
    </a>
    <div class="card-body">
        <div class="float-left mr-4 text-center">

            <img class="rounded-circle" style="width: 80px; height: 70px;" [src]="event.creator.avatar" alt=""
             [routerLink]="['/profile', event.creator.id]">
            <div>
                <small>{{event.creator.name}}</small>
            </div>
        </div>
        <h4 class="card-title">
            <a [routerLink]="['/events', event.id]">{{event.title}} </a>
        </h4>

        <p class="card-text" [innerText]="event.description"></p>

        <button *ngIf="event.mine" class="btn btn-danger ml-3 float-right" (click)="removeEvent()">Delete</button>
        <button *ngIf="event.mine" class="btn btn-outline-primary float-right" [routerLink]="['/events/edit', event.id]" [routerLinkActive]="['active']">Edit</button>
    </div>
    <div class="card-footer">
        <small class="text-muted">
            {{event.date | date:'dd/MM/y'}}
            <span class="float-right">{{event.price | currency:'EUR':'symbol'}}</span>
            <span class="float-right mr-3">Distance to event: {{event.distance}} Km.</span>
        </small>
    </div>
</div>
