<div class="mt-4">
  <ae-event-item class="mt-4"
  [event]="event" (deleted)="removeEvent()"></ae-event-item>
</div>

<div class="mt-3 ml-3 float-right">
    <h3>Buy tickets</h3>
    <div>
        <input class="text-right input-group-lg border-light rounded" type="number" name="tickets" [(ngModel)]="tickets" min="1" (change)="resultBuy()">
        <button class="btn btn-light" (click)="sumTickets(-1)">-</button>
        <button class="btn btn-light" (click)="sumTickets(1)">+</button>
        Total: {{ total | currency:'EUR':'symbol-narrow' }}
        <ae-paypal-button id="payPalButton" [amount]="total" (paymentCompleted)="getPayment($event)"></ae-paypal-button>
        <div *ngIf="paymentStatus" class="alert" [ngClass]="{'alert-success' : payedMessage, 'alert-danger' : !payedMessage}" role="alert">
            {{ payedMessage }}
        </div>
    </div>

</div>

<div class="card mt-4">
    <div class="card-body p-0">
        <div id="map" >
            <agm-map style="height: 50vh; width: 100%;" [zoom]="zoom" [latitude]="event.lat" [longitude]="event.lng">
                <agm-marker [latitude]="event.lat" [longitude]="event.lng"></agm-marker>
            </agm-map>
        </div>
        <div class="card-footer float-right">{{ event.address }}</div>
    </div>
</div>
<div>
    <ul class="list-group mt-4 mb-4" id="userList">
        <li class="list-group-item active">Users attend to the event</li>
        <li class="list-group-item" *ngFor="let user of users" [routerLink]="['/profile',event.creator.id]">
            <img class="rounded-circle float-left mr-3" style="width: 50px; height: 50px;" [src]="user.avatar" alt="">
            <div>
                <div>{{ user.name }}</div>
                <div>
                    <small>{{ user.email }}</small>
                </div>
            </div>
        </li>

    </ul>
</div>
